NODE_ENV=development # development | production
IS_MAINTENANCES=false


#front end env
# title
APP_TITLE=xxxx
# frontend urls

# Port number
PORT=8000
ACCESS_TOKEN_EXPIRED_IN=xh
REFRESH_TOKEN_EXPIRED_IN=xxd
JWT_REFRESH_SECRET=xxxxxx
JWT_ACCESS_SECRET=xxxx
JWT_SECRET=xxxxx
SENDGRID_API_KEY=xxxxx
SENDGRID_FROM_EMAIL=xxxx


# mongodb atlas
DB_HOST=cluster0.xxxxx.mongodb.net
DB_PROTOCOL=mongodb+srv
DB_NAME=staging
DB_USER=xxxx
DB_PASS=xxxx

# AWS SERVICE

AWS_SDK_JS_SUPPRESS_MAINTENANCE_MODE_MESSAGE = '1';

#Discord Token
DISCORD_TOKEN=xxxxxx
